<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366249433376-2tnrtgl2mov88eer8lm8244u8a7tko0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366249433376-2tnrtgl2mov88eer8lm8244u8a7tko0i</string>
	<key>API_KEY</key>
	<string>AIzaSyDVbGT8h58B2czDV8caPe1njbBEykn4pxc</string>
	<key>GCM_SENDER_ID</key>
	<string>366249433376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kurmantaev.mobilestore</string>
	<key>PROJECT_ID</key>
	<string>mobile-store-475a0</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-store-475a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366249433376:ios:5e98eb6fae0f6b4c4c1f45</string>
</dict>
</plist>